<div class="pull-right">
  <div class="btn-group" dropdown is-open="dropdownIsOpen">
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
      <span class="glyphicon glyphicon-th icon-th"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-left" role="menu" ng-click="$event.stopPropagation()">

      <li><label>
        <button type="button" class="btn btn-default" ng-click="saveColumnsSelection()">Сохранить</button>
      </label></li>

      <li ng-repeat="col in columns"
          ng-class="{'checkedClass': col.isVisible, 'uncheckedClass': !col.isVisible}">
        <label>
          <input type="checkbox" ng-model="col.isVisible">&nbsp;{{col.name}}
        </label>
      </li>
    </ul>
  </div>
</div>
