<div class="clearfix">

  <div class="pull-left">
    <ul class="rbtPager">
      <li class="previous" ng-class="{disabled: pager.noPrevious()}">
        <a ng-click="pager.selectPage(pager.Page.pageNumber - 1)" href="">« Назад</a>
      </li>
      <li class="next" ng-class="{disabled: pager.noNext(), next: align}">
        <a ng-class="{disabled: pager.noNext()}" ng-disabled="pager.LastPage"
           ng-click="pager.selectPage(pager.Page.pageNumber + 1)" href="">Вперед »</a>
      </li>
    </ul>
  </div>

  <div class="pull-left">
    <span>&nbsp;&nbsp;Страница <b>{{pager.Page.pageNumber + 1}}</b>&nbsp;&nbsp;</span>
    <span>На странице:</span>

    <div class="btn-group" dropdown is-open="dropdownItemsIsOpen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
        <span>{{ pager.Page.recordsOnPage }}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="item in pager.ItemsPerPageArr">
          <label>
            <a href="javascript:void(0)" ng-click="pager.changeItemsPerPage(item)">{{item}}</a>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
