<div class="modal-header">
  <h3 class="modal-title">{{data.header}}</h3>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal" name="dictCreateForm" novalidate>
    <div class="control-group" ng-hide="data.isDel">
      <div class="controls">
        <input type="text" class="form-control" id="inputValue" ng-model="data.item.value" required=""/>
      </div>
    </div>
    <div class="control-group" ng-show="data.isDel">
      <span>{{data.item.value}}</span>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="dictCreateForm.$invalid" ng-click="ok()">{{data.okLabel}}</button>
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>
