<div ng-controller="DictionariesCtrl">

  <div class="panel">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <p></p>
        <select rbt-control-label="Справочники" label-width="2" id="q"
                ng-model="selected.selectedDictionary" class="form-control"
                ng-options="d as d.name for d in dictionaries"
                ng-change="selectionChanged()">
          <option value="">-- выберите справочник --</option>
        </select>
      </div>
    </div>


    <div class="row" ng-show="selected.isSelected" >
      <div class="col-md-6 col-xs-6">
        <a ng-click="createNew()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
        <table class="table table-striped table-condensed" ng-cloak="">
          <thead>
          <tr>
            <th style="min-width: 80px;">Value</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in items">
            <td>{{ item.value }}</td>
            <td><a ng-click="editItem(item)" class="btn btn-small btn-primary"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a ng-click="deleteItem(item)" class="btn btn-small btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
          </tbody>
        </table>
        <a ng-click="createNew()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </div>
</div>

<!--<modal id="edit" large="yes" close="yes" status="info" title="About">-->
  <!--<h1 class="text-center">-->
    <!--<br/><small>qwerty</small></h1>-->
  <!--<hr/>-->

  <!--<p>Copyright &copy; 2015</p>-->

<!--</modal>-->
