<aside class="left-menu pull-left" side-menu >
  <ul class="list-group" ng-controller="rbt.navigation.ctrl">

    <li  class="list-group-item" ng-repeat="module in modules" >
      <a href="#" ng-click="Navigate(module.view)"> <span ng-class="['glyphicon', module.glyph]" aria-hidden="true"/><span class="collapsable op-caption">{{module.name}}</span></a>
      <div   class="list-group collapsable submenu">
        <a ng-repeat="submodule in module.operations" href="#" class="list-group-item" ng-click="Navigate(submodule.view)">
          <span ng-class="['glyphicon', submodule.glyph]" aria-hidden="true"/> <span class="collapsable op-caption">{{submodule.name}}</span>
        </a>

      </div>
    </li>

  </ul>
</aside>
