﻿<div class="modal-header">
    <h3 class="modal-title">Пациент</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">

        <div class="form-group">
            <label for="lastName" class="control-label col-sm-2">Код</label>
            <div class="col-sm-8">
                <span>{{Patient.id}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" class="control-label col-sm-2">Фамилия</label>
            <div class="col-sm-8">
                <input class="form-control" name="lastName" ng-model="Patient.lastname" />
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="control-label col-sm-2">Имя</label>
            <div class="col-sm-8">
                <input class="form-control" name="firstName" ng-model="Patient.firstname" />
            </div>
        </div>


        <div class="form-group">
            <label for="middleName" class="control-label col-sm-2">Отчество</label>
            <div class="col-sm-8">
                <input class="form-control" name="middleName" ng-model="Patient.middlename" />
            </div>
        </div>

        <div class="form-group">
            <label for="middleName" class="control-label col-sm-2">Отчество</label>
            <div class="col-sm-8">
                           <select  ng-model="Patient.mo" ng-options="mo.id as mo.name for mo in MOList"></select>
                </div>
         </div>

        <div class="form-group">
            <label for="Active" class="control-label col-sm-2">Активный</label>
            <div class="col-sm-8">
                <input type="checkbox" class="form-control" name="Active" ng-model="Patient.active" />
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" ng-click="cancel()">Отменить</button>
</div>