<ng-message when="required">Поле должно быть заполнено</ng-message>
<ng-message when="minlength">введенное значение слишком короткое</ng-message>
<ng-message when="maxlength">введенное значение слишком длинное</ng-message>
<ng-message when='"Поле не может быть пустым"'>Ошибка сервера. Поле не может быть пустым</ng-message>
