<nav class="navbar navbar-default navbar-right">
  <div class="container-fluid">
    <div class="navbar-header">
                    <span class="navbar-brand">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
    </div>
    <p class="navbar-text">Иванов И.И.</p>

    <ul class="nav navbar-nav navbar-right" ng-controller="rbt.topnav.ctrl">



      <li class="dropdown" dropdown ng-repeat="module in modules">
        <a href="#" class="dropdown-toggle" dropdown-toggle>
          <span ng-class="['glyphicon', module.glyph]"></span>
            {{module.name}}
          <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="submodule in module.operations"><a href="#" ng-click="Navigate(submodule.view)">
            <span ng-class="['glyphicon', submodule.glyph]"></span>{{submodule.name}}</a>
          </li>
        </ul>
      </li>

      <!--<li class="dropdown" dropdown>-->
        <!--<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button"-->
           <!--aria-expanded="false"><span class="glyphicon glyphicon-briefcase"></span> Рабочие столы <span-->
          <!--class="caret"></span></a>-->
        <!--<ul class="dropdown-menu" role="menu">-->
          <!--<li><a href="#">Основной</a></li>-->
          <!--<li><a href="#">Документ 1</a></li>-->
          <!--<li><a href="#">Документ 2</a></li>-->
          <!--<li class="divider"></li>-->
          <!--<li><a href="#">Закрыть все</a></li>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li>-->
        <!--<a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>-->
      <!--</li>-->
    </ul>

  </div>
</nav>
