<div class="modal-header">
  <h3 class="modal-title">Карточка пациента</h3>
</div>
<div class="modal-body">
  <form name="patientForm" class="form-horizontal">
    <accordion>
      <accordion-group heading="Пациент" is-open="true">
        <div class="row">
          <div class="form-group col-md-12">
            <input type="text"
                   id="lastName" name="lastName" required
                   class="form-control" ng-model="patient.personDto.lastName" rbt-control-label="Фамилия"
                   label-width="2">

          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <input type="text"
                   id="firstName" name="firstName" required
                   class="form-control" ng-model="patient.personDto.firstName" rbt-control-label="Имя" label-width="2">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control"
                   id="middleName" name="middleName" required
                   ng-model="patient.personDto.middleName" rbt-control-label="Отчество" label-width="2">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <p rbt-control-label="Дата рождения" label-width="2" rbt-control-id="birthdate">
              <input type="text" rbt-datepicker-btn="" datepicker-popup=""
                     id="birthDate" name="birthDate" required
                     class="form-control" ng-model="patient.personDto.birthDate">
            </p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <select id="sex" name="sex"
                    class="form-control"
                    ng-model="patient.personDto.sex" required rbt-control-label="Пол"
                    label-width="2"
                    ng-options="dict.id as dict.value for dict in genders"></select>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="Паспортные данные">

        <div class="row">
          <div class="form-group col-md-12">
            <select id="docType" name="docType"
                    class="form-control"
                    ng-model="patient.personDto.passportDto.docType" required rbt-control-label="Документ"
                    label-width="2"
                    ng-options="dict.id as dict.value for dict in doctypes"></select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control"
                   id="passSeries" name="passSeries"
                   ng-model="patient.personDto.passportDto.passSeries" rbt-control-label="Серия" label-width="4">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control"
                   id="passNumber" name="passNumber"
                   ng-model="patient.personDto.passportDto.passNumber" rbt-control-label="Номер" label-width="2">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <textarea class="form-control"
                      id="issuePlace" name="issuePlace"
                      ng-model="patient.personDto.passportDto.issuePlace" rbt-control-label="Выдан" label-width="2">
            </textarea>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <p rbt-control-label="Дата выдачи" label-width="4" rbt-control-id="issueDate">
              <input type="text" class="form-control"
                     id="issueDate" name="issueDate"
                     rbt-datepicker-btn="" datepicker-popup=""
                     ng-model="patient.personDto.passportDto.issueDate" >
            </p>
          </div>
          <div class="form-group col-md-6">
            <p rbt-control-label="Действителен до" label-width="4" rbt-control-id="dateTo">
              <input type="text" class="form-control"
                     id="dateTo" name="dateTo"
                     rbt-datepicker-btn="" datepicker-popup=""
                     ng-model="patient.personDto.passportDto.dateTo" >
            </p>
          </div>

        </div>
      </accordion-group>

      <accordion-group heading="Контактная информация">
        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control"
                   id="mobilePhone" name="mobilePhone"
                   ng-model="patient.personDto.mobilePhone" rbt-control-label="Телефон моб." label-width="2">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control"
                   id="homePhone" name="homePhone"
                   ng-model="patient.personDto.homePhone" rbt-control-label="Телефон дом." label-width="2">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control"
                   id="workPhone" name="workPhone"
                   ng-model="patient.personDto.workPhone" rbt-control-label="Телефон раб." label-width="2">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <input type="email" class="form-control"
                   id="email" name="email"
                   ng-model="patient.personDto.email" rbt-control-label="E-mail" label-width="2">
          </div>
        </div>
      </accordion-group>


    </accordion>


  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()">Сохранить</button>
  <button class="btn btn-default" ng-click="cancel()">Закрыть</button>
</div>
