<div class="modal-header">
  <h3 class="modal-title">Выбор пациента</h3>
</div>
<div class="modal-body">

  <form class="form-horizontal" name="filterForm">
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" ng-model="filter.lastName" rbt-control-label="Фамилия" label-width="2">

      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" ng-model="filter.firstName" rbt-control-label="Имя" label-width="2">
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" ng-model="filter.middleName" rbt-control-label="Отчество"
               label-width="2">
      </div>
      <div class="form-group col-md-6">
        <button class="btn btn-primary" ng-click="search()">Искать</button>
      </div>
    </div>
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">
      <rbt-pager on-change="pageChange(page)"
                 rows-count="rows.length"
                 pager-prefix="{{pagerPrefix}}"/>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th></th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Дата рождения</th>
          <th>Снилс</th>
        </tr>
        <tr ng-repeat="row in rows" rbt-selectable="select(row)" ng-dblclick="ok()">
          <td>{{$index + page.pageNumber * page.recordsOnPage + 1 }}</td>
          <td>{{row.personDto.lastName}}</td>
          <td>{{row.personDto.firstName}}</td>
          <td>{{row.personDto.middleName}}</td>
          <td>{{row.personDto.birthDate |  picker : 'date' : 'dd.MM.yyyy'}}</td>
          <td>{{row.snils}}</td>
        </tr>

      </table>
    </div>
    <div class="panel-footer">
      <rbt-pager on-change="pageChange(page)"
                 rows-count="rows.length"
                 pager-prefix="{{pagerPrefix}}"/>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()" ng-disabled="isDisabled">Выбрать</button>
  <button class="btn btn-default" ng-click="cancel()">Отменить</button>
</div>
