<div class="row">
  <div class="form-group col-md-6">
    <input type="text" rbt-control-label="Дата, время передачи" label-width="4"
           class="form-control"
           id="policeReportDatetime" name="policeReportDatetime"
           ng-model="card.policeReportDatetime"
           rbt-datetime-picker
           rbt-model-converter="DateTimeConverter">
  </div>
</div>

  <div class="row">
    <div class="form-group col-md-12">
    <input
      id="policeReportSend" name="policeReportSend"
      rbt-control-label="Передал"
      label-width="2"
      type="text" class="form-control" ng-model="card.policeReportSend" />
    </div>
  </div>

<div class="row">
  <div class="form-group col-md-12">
    <input
      id="card.policeReportReceive" name="card.policeReportReceive"
      rbt-control-label="Принял"      label-width="2"
      type="text" class="form-control" ng-model="card.policeReportReceive" />
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <textarea
      id="card.policeReport" name="card.policeReport"
      rbt-control-label="Текст сообщения, кому отправлено"      label-width="2"
      class="form-control" ng-model="card.policeReport" ></textarea>
  </div>
</div>
