<div class="row">
  <div class="form-group col-md-6">


          <input type="text"  class="form-control"
                 rbt-control-label="Дата, время возвращения" label-width="4"
                 id="departureReturnDatetime" name="departureReturnDatetime"

                 rbt-datetime-picker rbt-model-converter="DateTimeConverter"
                 ng-model="card.departureReturnDatetime"/>

  </div>


  <div class="form-group col-md-6">
    <input
      id="callFullTime" name="callFullTime"
      rbt-control-label="Затрачено на вызов" label-width="4"
      type="text" class="form-control" ng-model="card.callFullTime"/>
  </div>
</div>

  <div class="row">
    <div class="form-group col-md-6">
    <input
      id="departureDistance" name="departureDistance"
      rbt-control-label="Километраж выезда" label-width="4"
      type="number" class="form-control" ng-model="card.departureDistance" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
    <select  rbt-control-label="Результат выезда" label-width="2"
             id="ambulanceCallResult" name="ambulanceCallResult"
             ng-model="card.ambulanceCallResult" class="form-control"  ng-options="dict.id as dict.name for dict in departureResult">
    </select>
    </div>
  </div>

<div class="row">
  <div class="form-group col-md-12">
    <textarea id="measure" name="measure"
      rbt-control-label="Примечание" label-width="2"
       class="form-control" ng-model="card.measure" ></textarea>

  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="form-group">
    <div class="col-md-1">
      <input type="checkbox" id="hospitalization" name="hospitalization" ng-true-value="-1" ng-false-value="0"  ng-model="card.hospitalization" class="form-control">
    </div>
    <label for="hospitalization" class="control-label col-md-6">Пациент госпитализарован</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">



          <input type="text" rbt-control-label="Дата, время госпитализации" label-width="4"
                 class="form-control"
                 id="hospitalizationDatetime" name="hospitalizationDatetime"
                 rbt-datetime-picker rbt-model-converter="DateTimeConverter"
                 ng-model="card.hospitalizationDatetime"/>



  </div>
 </div>

  <div class="row">
    <div class="form-group col-md-12">
      <input type="text"  rbt-control-label="ЛПУ" label-width="2"
             type="text" class="form-control" ng-model="card.lpu">
    </div>

  </div>
