<div class="row">

  <div class="col-md-5"  ng-class="{'has-error': cardForm.callDatetime.$invalid && (cardForm.callDatetime.$dirty || showValidation)}">

     <input rbt-control-label="Дата, время приема" label-width="5"
            type="text" id="callDatetime" name="callDatetime" class="form-control"
            required=""
            rbt-datetime-picker=""
            ng-model="card.callDatetime" rbt-model-converter="DateTimeConverter">



    <ng-messages  ng-show="cardForm.callDatetime.$invalid && (cardForm.callDatetime.$dirty || showValidation)"
                  class="rbt-validation-message col-md-offset-5"
                  for="cardForm.callDatetime.$error" ng-messages-include="app/rbt.validationMessages.html"></ng-messages>

  </div>

  <div class="form-group col-md-7"
       ng-class="{'has-error': cardForm.callStatus.$invalid && (cardForm.callStatus.$dirty || showValidation)}">
    <select rbt-control-label="Статус" label-width="2"
            required
            id="callStatus" name="callStatus"
            ng-model="card.callStatus"
            class="form-control" ng-options="dict.id as dict.value for dict in statuses">
    </select>

    <ng-messages  ng-show="cardForm.callStatus.$invalid && (cardForm.callStatus.$dirty || showValidation)"
                  class="rbt-validation-message col-md-offset-2"
                  for="cardForm.callStatus.$error" ng-messages-include="app/rbt.validationMessages.html"></ng-messages>


  </div>
</div>

<div class="row">
  <div class="form-group col-md-12"
       ng-class="{'has-error': cardForm.callAddress.$invalid && cardForm.callAddress.$dirty}">
    <textarea rbt-control-label="Адрес" label-width="2"  name="callAddress" id="callAddress" class="form-control" ng-model="card.callAddress"></textarea>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-12"
       ng-class="{'has-error': cardForm.place.$invalid && cardForm.place.$dirty}">
       <select rbt-control-label="Место вызова" label-width="2" id="callLocation" name="callLocation"
               ng-model="card.callLocation" class="form-control"  ng-options="dict.id as dict.value for dict in places">
       </select>

  </div>
</div>

<div class="row">
  <div class="form-group col-md-12" ng-class="{'has-error': cardForm.contactPhone.$invalid && cardForm.contactPhone.$dirty}">
         <input rbt-control-label="Контактный телефон" label-width="2" name="contactPhone" id="contactPhone" class="form-control" type="text"
             ng-model="card.contactPhone">
   </div>
</div>

<div class="row">
  <div class="form-group col-md-12" ng-class="{'has-error': cardForm.whoCall.$invalid && cardForm.whoCall.$dirty}">
    <input rbt-control-label="Кто вызвал" label-width="2" name="whoCall" id="whoCall" class="form-control" type="text"
             ng-model="card.whoCall">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12" ng-class="{'has-error': cardForm.callReason.$invalid && cardForm.callReason.$dirty}">
    <input rbt-control-label="Повод обращения" label-width="2" name="callReason" id="callReason" class="form-control" type="text"
             ng-model="card.callReason">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12"
       ng-class="{'has-error': cardForm.callType.$invalid && cardForm.callType.$dirty}">
      <select rbt-control-label="Тип вызова" label-width="2" id="callType" name="callType" ng-model="card.callType" class="form-control"  ng-options="dict.id as dict.value for dict in transfers">
        </select>
  </div>
</div>

<div class="row">
  <div class="col-md-5">



        <input rbt-control-label="Дата, время передачи" label-width="5"
              type="text" class="form-control"
               rbt-datetime-picker=""
               id="callPassDatetime" name="callPassDatetime"
               ng-model="card.callPassDatetime" rbt-model-converter="DateTimeConverter"
              />



  </div>
  <div class="form-group col-md-7"
       ng-class="{'has-error': cardForm.callPassType.$invalid && cardForm.callPassType.$dirty}">

      <select  rbt-control-label="Способ передачи" label-width="2"  id="callPassType" name="callPassType" ng-model="card.callPassType" class="form-control"  ng-options="dict.id as dict.value for dict in calltypes">

      </select>

  </div>
</div>

<div class="row">
  <div class="form-group col-md-12"
       ng-class="{'has-error': cardForm.departureTeamNumber.$invalid && cardForm.departureTeamNumber.$dirty}">

      <select rbt-control-label="Вручен бригаде" label-width="2" id="departureTeamNumber" name="departureTeamNumber"
              ng-model="card.departureTeamNumber" class="form-control"  ng-options="dict.id as dict.value for dict in brigades">

      </select>

  </div>
</div>

<div class="row">
  <div class="col-md-5">



        <input id="departureDatetime" name="departureDatetime"
               rbt-control-label="Дата, время выезда" label-width="5"
               type="text" class="form-control"
               rbt-datetime-picker=""
               ng-model="card.departureDatetime" rbt-model-converter="DateTimeConverter"

               />



  </div>
  <div class="form-group col-md-7"
       ng-class="{'has-error': cardForm.departureCarNumber.$invalid && cardForm.departureCarNumber.$dirty}">

      <select rbt-control-label="Номер машины" label-width="2" id="departureCarNumber" name="departureCarNumber" ng-model="card.departureCarNumber" class="form-control"
              ng-options="dict.id as dict.value for dict in autonums">

      </select>

  </div>
</div>
<div class="row">
  <div class="form-group col-md-12"
       ng-class="{'has-error': cardForm.departureDelayReason.$invalid && cardForm.departureDelayReason.$dirty}">

      <select rbt-control-label="Причина задержки" label-width="2"
        id="departureDelayReason" name="departureDelayReason" ng-model="card.departureDelayReason" class="form-control"  ng-options="dict.id as dict.value for dict in delayreasons">

      </select>

  </div>
</div>
