<div ng-controller="OsmpCardCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Команды</div>
      </div>
      <ul class="nav navbar-nav">
        <li><a ng-click="Save()" href="#"><span class="glyphicon glyphicon-save" aria-hidden="true"/> Сохранить без подписи</a>
        </li>
        <li><a ng-click="Sign()" href="#"><span class="glyphicon glyphicon-save" aria-hidden="true"/> Подписать</a>
        </li>
        <li><a ng-click="Close()" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"/> Закрыть </a></li>

      </ul>
    </div>
  </nav>


  <alert type="danger" ng-if="cardForm.$hasServerError"  >Ошибка сохранения: {{cardForm.$serverError.code}}:{{cardForm.$serverError.description}}</alert>
  <form rbt-server-error="cardPost" role="form" class="form-horizontal" name="cardForm" novalidate >

    <div class="panel">
      <div class="row">
        <div class="form-group col-md-4" ng-class="{'has-error': cardForm.code.$invalid && (cardForm.code.$dirty || showValidation)}">

            <input type="text"
                   rbt-control-label="Код" label-width="5"
                   name="code" id="code"
                     maxlength="5" ng-maxlength="5"
                   class="form-control"
                   ng-model="card.code" rbt-server-error="cardPost">
            <ng-messages for="cardForm.code.$error" ng-show="cardForm.code.$invalid && (cardForm.code.$dirty || showValidation)"
                         ng-messages-include="app/rbt.validationMessages.html" class="rbt-validation-message col-md-offset-5" ></ng-messages>

        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-10" ng-class="{'has-error': cardForm.staffDesignation.$invalid && cardForm.staffDesignation.$dirty}">

            <select rbt-control-label="Диспетчер"
                    label-width="2"
                    id="staffDesignation" name="staffDesignation"
                    ng-model="card.staffDesignation"
                    class="form-control"
                    ng-options="operator.id as operator.value for operator in operators" required>

            </select>
          <ng-messages  ng-show="cardForm.staffDesignation.$invalid && (cardForm.staffDesignation.$dirty || showValidation)"
                        class="rbt-validation-message col-md-offset-2"
                        for="cardForm.staffDesignation.$error" ng-messages-include="app/rbt.validationMessages.html"></ng-messages>

        </div>
      </div>

      <accordion>
        <accordion-group   is-open="AccStatuses.call.isOpen" ng-class="{'panel-danger':AccStatuses.call.hasErrors(cardForm)}">
          <accordion-heading>
            Вызов
            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': AccStatuses.call.isOpen, 'glyphicon-chevron-right': !AccStatuses.call.isOpen}"></i>
          </accordion-heading>
          <ng-include src="'app/Modules/osmp/card/rbt.osmp.card.call.tpl.html'"></ng-include>
        </accordion-group>

        <accordion-group  is-open="AccStatuses.patient.isOpen" >
          <accordion-heading>
           Пациент
            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': AccStatuses.patient.isOpen, 'glyphicon-chevron-right': !AccStatuses.patient.isOpen}"></i>
          </accordion-heading>
          <ng-include src="'app/Modules/osmp/card/rbt.osmp.card.patient.tpl.html'"></ng-include>
        </accordion-group>
        <accordion-group is-open="AccStatuses.medcare.isOpen" >
          <accordion-heading>
            Оказанная помощь
            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': AccStatuses.medcare.isOpen, 'glyphicon-chevron-right': !AccStatuses.medcare.isOpen}"></i>
          </accordion-heading>
          <ng-include src="'app/Modules/osmp/card/rbt.osmp.card.medcare.tpl.html'"></ng-include>
        </accordion-group>
        <accordion-group  is-open="AccStatuses.result.isOpen" >
          <accordion-heading>
            Результат выезда
            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': AccStatuses.result.isOpen, 'glyphicon-chevron-right': !AccStatuses.result.isOpen}"></i>
          </accordion-heading>
          <ng-include src="'app/Modules/osmp/card/rbt.osmp.card.result.tpl.html'"></ng-include>
        </accordion-group>

        <accordion-group  is-open="AccStatuses.notify.isOpen" >
          <accordion-heading>
            Оповещение
            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': AccStatuses.notify.isOpen, 'glyphicon-chevron-right': !AccStatuses.notify.isOpen}"></i>
          </accordion-heading>
          <ng-include src="'app/Modules/osmp/card/rbt.osmp.card.notify.tpl.html'"></ng-include>

        </accordion-group>



      </accordion>
    </div>

  </form>
</div>
