<div class="row">

  <div class="form-group col-md-10">


      <input   rbt-control-label="Дата, время прибытия" label-width="2"
               id="patientArrivalDatetime" name="patientArrivalDatetime" type="text" class="form-control"
              rbt-datetime-picker rbt-model-converter="DateTimeConverter"
               ng-model="card.patientArrivalDatetime"
              />



    </div>
</div>


<div class="row">

    <div class="form-group col-md-10">

      <textarea  class="form-control" size="60" readonly rbt-control-label="Пациент" label-width="2" id="patient" ng-model="patient.Text"></textarea>
    </div>
    <div class="col-md-2  btn-group-vertical">
      <button class="btn btn-default" ng-click="patient.select()">Выбрать</button>
      <div class="divider"></div>
      <button class="btn btn-default" ng-click="patient.open()">Открыть</button>

      <button class="btn btn-default" ng-click="patient.open(true)">Создать</button>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-10">
      <textarea  class="form-control"  rbt-control-label="Жалобы, анамнез, объективные данные" label-width="2"
                 id="patientComplaint" name="patientComplaint" ng-model="card.patientComplaint">
      </textarea>

    </div>
  </div>

<div class="row">
  <div class="form-group col-md-10">

    <div class="row" rbt-control-label="Диагноз МКБ-10" label-width="2" label-control-id="diagnosisMKB">
      <div class="col-md-2">
    <input  type="text"
            id="diagnosisMKB" name="diagnosisMKB"
            ng-model="MKB.code"
            placeholder="***.0" class="form-control"
            typeahead-on-select="MKB.Change($item, $model, $label)"
            typeahead="mkb.code as mkb.diagnoseName for mkb in MKB.getMKBTen($viewValue)" typeahead-loading="MKB.Loading" />
    <i ng-show="MKB.Loading" class="glyphicon glyphicon-refresh"></i>
      </div>
      <div class="col-md-10">
          <input type="text" class="form-control" ng-readonly="true" ng-model="MKB.SelectedText"/>
      </div>
    </div>

  </div>
  <div class="form-group col-md-2">
    <button  class="btn btn-default" ng-click="MKB.openMKB()">Выбрать</button>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <select  rbt-control-label="Причина Н.С" label-width="2"
             id="accidentReason" name="accidentReason" ng-model="card.accidentReason" class="form-control"  ng-options="dict.id as dict.name for dict in accidentReason">
    </select>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <select  rbt-control-label="Характер заболевания" label-width="2"
             id="DiagnosisKind" name="diagnosisKind" ng-model="card.diagnosisKind" class="form-control"  ng-options="dict.id as dict.value for dict in diagnosisKind">
    </select>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <input  id="currentVisitPoliclinic"  name="currentVisitPoliclinic" class="form-control" type="text" rbt-control-label="Подлежит посещению" label-width="2" ng-model="card.currentVisitPoliclinic"/>
  </div>
</div>




