<div class="row">
  <div class="form-group col-md-12" >

    <div id="difficulity"
         name="difficulity"
         rbt-control-label="Осложнения"
         label-width="2"
         multi-select
         input-model="complication.input"
         output-model="complication.output"
         button-label="{{complication.name}}"
         item-label="{{complication.name}}"
         tick-property="{{complication.selected}}"
         max-labels="15"
         max-height="150px"

         default-label="Ничего не выбрано">
    </div>
  </div>

</div>

  <div class="row">
    <div class="form-group col-md-12">
      <textarea
        rbt-control-label="Оказанные меры" label-width="2"
        id="patientRenderingHelp" name="patientRenderingHelp"
        ng-model="card.patientRenderingHelp" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <select  rbt-control-label="Эффективность мер" label-width="2"
               id="efficacyStepComplication" name="efficacyStepComplication"
               ng-model="card.efficacyStepComplication" class="form-control"  ng-options="dict.id as dict.value for dict in efficacyStepComplication">
      </select>
    </div>
  </div>

<div class="row">
  <div class="form-group col-md-12">
    <textarea rbt-control-label="В каком состоянии оставлен больной" label-width="2"
      id="patientStateAfter" name="patientStateAfter"
      ng-model="card.patientStateAfter" class="form-control"></textarea>
  </div>
</div>
