<div ng-controller="DictionariesMkbCtrl">

  <div class="panel">

    <div style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">
      <span><b>Selected Node</b> : {{tree.currentNode.roleName}}</span>
    </div>

    <!--
      [TREE attribute]
      angular-treeview: the treeview directive
      tree-model : the tree model on $scope.
      node-id : each node's id
      node-label : each node's label
      node-children: each node's children
    -->
    <div
      data-angular-treeview="true"
      data-tree-id="tree"
      data-tree-model="roleList"
      data-node-id="roleId"
      data-node-label="roleName"
      data-node-children="children" >
    </div>
    <!--<div class="row" >-->
      <!--<div class="col-md-6 col-xs-6">-->
        <!--<a ng-click="createNew()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>-->
        <!--<table class="table table-striped table-condensed">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th style="min-width: 80px;">Id</th>-->
            <!--<th style="min-width: 80px;">Value</th>-->
            <!--<th style="width:20px;"></th>-->
            <!--<th style="width:20px;"></th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr ng-repeat="item in items">-->
            <!--<td>{{ item.code }}</td>-->
            <!--<td>{{ item.diagnoseName }}</td>-->
            <!--<td><a ng-click="editItem(item)" class="btn btn-small btn-primary"><span class="glyphicon glyphicon-pencil"></span></a></td>-->
            <!--<td><a ng-click="deleteItem(item.id)" class="btn btn-small btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
        <!--<a ng-click="createNew()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

