<div ng-controller="OsmpListCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Команды</div>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-open" aria-hidden="true"
                              ng-click="openCard(pager.CurrentRow)"/>
          Открыть </a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-new-window" aria-hidden="true" ng-click="openCard()"/> Создать
        </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"/> Удалить</a></li>
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button"
             aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"/> Действия <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">раз</a></li>
            <li><a href="#">два</a></li>
            <li><a href="#">три</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </nav>


  <section class="filter">

    <accordion>
      <accordion-group is-open="serchForm.isOpen">
        <accordion-heading>

          Поиск
          <span class="pull-left glyphicon"
                ng-class="{'glyphicon-chevron-down': serchForm.isOpen, 'glyphicon-chevron-right': !serchForm.isOpen}">
          </span>

        </accordion-heading>
        <ng-include src="'app/Modules/osmp/journal/rbt.osmp.journal.filter.tpl.html'"></ng-include>
      </accordion-group>
    </accordion>

    <div class="panel panel-default">
      <div class="panel-heading">

        <div class="row">
          <div class="col-md-9">
            <rbt-pager on-change="changePage(page)"
                       rows-count="pager.List.rows.length"
                       pager-prefix="osmpJournal"/>
          </div>

          <div class="col-md-3">
            <rbt-column-filter columns="pager.List.columnsDef"></rbt-column-filter>
          </div>
        </div>

      </div>

      <div class="table-responsive">

        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th class="rbtTh"
                ng-repeat="col in filteredRow = pager.List.columnsDef | filter: { isVisible:true } | orderBy:'order' ">

              <a href="#" ng-click="pager.changeSortOrder(page, col)">
                {{col.name}}
                <span ng-show="pager.SortOrder.orderByField != col.alias">
                  <span class="glyphicon glyphicon-sort"></span>
                </span>
                <span ng-show="pager.SortOrder.orderByField == col.alias">
                  <span ng-show="!pager.SortOrder.reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                  <span ng-show="pager.SortOrder.reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                </span>
              </a>

            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in pager.List.rows" ng-dblclick="openCard(row)" ng-click="selectRow(row)">
            <td>{{$index + page.pageNumber * page.recordsOnPage + 1 }}</td>
            <td class="rbtTd"
                ng-repeat="col in filteredRow = pager.List.columnsDef | filter: { isVisible:true } | orderBy:'order' "
                rbt-osmp-input input-type="{{col.type}}" input-read-only="{{col.readOnly}}"
                field-value="{{row[col.alias] | picker : col.formatter : col.format}}">
              {{row[col.alias] | picker : col.formatter : col.format}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="panel-footer">
        <div class="row">
          <rbt-pager on-change="changePage(page)"
                     rows-count="pager.List.rows.length"
                     pager-prefix="{{pagerPrefix}}"/>
        </div>
      </div>

    </div>
  </section>
</div>
