<form role="form" class="form-horizontal row" name="filterForm">

  <div class="col-md-10">
    <div class="row">

      <div class="form-group col-md-4"
           ng-class="{'has-error': filterForm.code.$invalid && filterForm.code.$dirty}">
        <input rbt-control-label="Код" label-width="1" type="text" name="code" id="code" class="form-control"
               ng-model="pager.Filter.filter.code">
      </div>
      <div class="form-group col-md-8"
           ng-class="{'has-error': filterForm.lastName.$invalid && filterForm.lastName.$dirty}">
        <input rbt-control-label="Фамилия" label-width="2" type="text" name="lastName" id="lastName"
               class="form-control" ng-model="pager.Filter.filter.lastName">
      </div>

    </div>

    <div class="row">

      <div class="form-group col-md-4"
           ng-class="{'has-error': filterForm.firstName.$invalid && filterForm.firstName.$dirty}">
        <input rbt-control-label="Имя" label-width="1" type="text" name="firstName" id="firstName"
               class="form-control" ng-model="pager.Filter.filter.firstName">
      </div>
      <div class="form-group col-md-8"
           ng-class="{'has-error': filterForm.middleName.$invalid && filterForm.middleName.$dirty}">
        <input rbt-control-label="Отчество" label-width="2" type="text" name="middleName" id="middleName"
               class="form-control" ng-model="pager.Filter.filter.middleName">
      </div>

    </div>

    <div class="row">

      <div class="form-group col-md-12"
           ng-class="{'has-error': filterForm.ambulanceCallResult.$invalid && filterForm.ambulanceCallResult.$dirty}">
        <select rbt-control-label="Результат выезда" label-width="2" id="ambulanceCallResult"
                ng-model="pager.Filter.filter.ambulanceCallResult" class="form-control"
                ng-options="dict.id as dict.name for dict in dicts.ambulanceCallResults">
        </select>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-3"
           ng-class="{'has-error': filterForm.dateFrom.$invalid && filterForm.dateFrom.$dirty}">
        <div rbt-control-label="Дата" label-width="2">

          <input id="dateFrom" name="dateFrom" type="text" class="form-control" datepicker-popup
                 rbt-datepicker-btn
                 ng-model="pager.Filter.filter.dateFrom"
                 ng-required="false"/>
        </div>
      </div>

      <div class="form-group col-md-3"
           ng-class="{'has-error': filterForm.dateTo.$invalid && filterForm.dateTo.$dirty}">
        <div rbt-control-label=" - " label-width="2">

          <input id="dateTo" name="dateTo" type="text" class="form-control" datepicker-popup
                 rbt-datepicker-btn
                 ng-model="pager.Filter.filter.dateTo"
                 ng-required="false"/>
        </div>
      </div>

      <div class="form-group col-md-6"
           ng-class="{'has-error': filterForm.signatureStatus.$invalid && filterForm.signatureStatus.$dirty}">
        <select rbt-control-label="Статус" label-width="2" id="signatureStatus"
                ng-model="pager.Filter.filter.signatureStatus" class="form-control"
                ng-options="dict.id as dict.value for dict in dicts.signatureStatuses">
        </select>

      </div>
    </div>

  </div>

  <div class="col-md-2  btn-group-vertical">
    <button type="button" class="btn btn-primary " ng-click="pager.getList(page, true)">
      <!--<button type="button" class="btn btn-primary " ng-click="search()" ng-disabled="filterForm.$invalid">-->
      <span class="glyphicon glyphicon-search"></span>&emsp;<span>Искать</span>
    </button>
    <button type="button" class="btn btn-default" ng-click="clearSearchForm()">
      <span class="glyphicon glyphicon-remove"></span>&emsp;<span>Очистить</span>
    </button>
  </div>

</form>
