﻿body {
       background-color:#ddf8f8;
}

main{
      background-color:white;
      border-radius:5px;
}



.logo span.glyphicon {
    font-size:2.2em;
    color:purple;
}
.logo span.caption {
    color:#606060;
    font-size:1.6em;
    font-weight:bold;
    text-transform:uppercase;
}

section.desktop {
    border-left-color:#ddf8f8;
}