﻿body {
    padding-left:0.8em;
    padding-right:0.8em;
    padding-top:1.2em;

}



main {
    min-height:600px;


}
main:after {
    display:table;
    content:" ";
    clear:both;
}

aside.left-menu
{
    height:100%;
    padding: 0.8em 0.8em 0 0.8em;
}

.left-menu .submenu
{
    margin-top:0.8em;
    margin-left:1.2em;
}

section.desktop {
         padding: 0.8em 0.8em 0 0.8em ;
          border-left: 3px solid ;
}

main.full aside.left-menu {
        width:20%;

}

main.full section.desktop {
        width:80%;

}

main.collapsed aside.left-menu {
        width:5%;
}

main.collapsed section.desktop {
        width:95%;
}

span.op-caption{
    padding-left:0.8em;
}

main.full aside.left-menu  .collapsable
{
    display:inherit;
}

main.collapsed aside.left-menu .collapsable
{
    display:none;
}


.logo {
    }

.logo span.glyphicon {
    font-size:2.2em;
    color:purple;
}
.logo span.caption {
    color:#606060;
    font-size:1.6em;
    font-weight:bold;
    text-transform:uppercase;
}

.rbt-validation-message {
  float:left;
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0.5em 0.8em 0.5em 0.8em;
  border-color: #a94442;

  color: #a94442;
}

.accordion-toggle>.glyphicon {
  padding-right: .8em;
}
