.dropdown-menu > li > label {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.uncheckedClass {
  background-color: #ffffff;
  color: #6e6e6e;
}

.cursor-pointer {
  cursor: pointer;
}

.checkedClass {
  background-color: #ffffff;
  color: #000000;
}

.rbtPager {
  padding-left: 0;
  /*margin: 20px 0;*/
  text-align: center;
  list-style: none;
}

.rbtPager li {
  display: inline;
}

.rbtPager li > a,
.rbtPager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.rbtPager li > a:hover,
.rbtPager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.rbtPager .next > a,
.rbtPager .next > span {
  float: right;
}

.rbtPager .previous > a,
.rbtPager .previous > span {
  float: left;
}

.rbtPager .disabled > a,
.rbtPager .disabled > a:hover,
.rbtPager .disabled > a:focus,
.rbtPager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

.rbtTh {
  white-space: nowrap;
}

.rbtTd {
  white-space: nowrap;
}

