﻿.rbt-slider {
    position:relative; 
    display:block;
    height:16px;
    border: solid 1px #ddd;
    border-radius:2px;
    padding-left:5px;
    padding-right:5px;
    margin:5px 5px 5px 5px;
}


rbt-slider-marker {
    position:absolute; 
    cursor:pointer; 
    z-index:5;
}



rbt-slider-marker.square {
    border-radius:2px;
    width:5px; 
    height:16px; 
    
}

.rbt-slider-marker-primary {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#2d6ca2));
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  background-repeat: repeat-x;
  border-color: #2b669a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.rbt-slider-marker-primary:hover,
.rbt-slider-marker-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}


rbt-slider-body {
    position:absolute; 
    display:block; 
    height:80%; 
    top:10%;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.rbt-slider-stripped  {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.rbt-slider-body-success {
     background-color: #5cb85c;
}






.rbt-slider-body-info {
   background-color: #5bc0de;
  
}


.rbt-slider-body-warning {
   background-color: #f0ad4e;
}




.rbt-slider-body-danger {
   background-color: #d9534f;
  
}




